{% extends 'base.html' %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-success">
        <i class="bi bi-cash-coin"></i>
        Lista De Empleados 
       
            <a href="{% url 'nuevo_empleados' %}" class="btn btn-info"><i class="bi bi-plus-lg"></i></a>
            <a href="{% url 'empleados_pdf' %}" class="btn btn-danger" target="_blank"><i class="bi bi-file-earmark-pdf"></i></a>

    </h2> 
    <div class="row mt-5">
       <div class="col-10">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Del Empleado</th>
      <th scope="col">Salario</th>
      <th scope="col">Cargo</th>
      <th scope="col">Telefono</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<tbody>
  {% for empleado in empleados %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido_paterno }}</td>
      <td>{{ empleado.apellido_materno }}</td>
      <td>{{ empleado.telefono }}</td>
      <td>
        <a href="{% url 'modificar_empleados' empleado.id %}" class="btn btn-success">
          <i class="bi bi-pencil-square"></i>
        </a>
      </td>
      <td>
        <a href="{% url 'eliminar_empleado' empleado.id %}" class="btn btn-danger">
          <i class="bi bi-trash3-fill"></i>
        </a>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="7">No hay empleados registrados.</td>
    </tr>
  {% endfor %}
</tbody>

</table>
        </div>
    </div>

</div>
{% endblock %}
