{% extends 'base.html' %}

{% block title %}Notas{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-bdoy p-4">
                        
                        <h1><i class="bi bi-plus-lg"></i> Nueva Nota</h1>
                        <form method="POST" action="{% url 'guardar_nota' %}" id="notaForm">
  {% csrf_token %}

  <div class="form-check mb-3">
    {{ form.incluye_iva.label_tag }}
    {{ form.incluye_iva }}
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.no_trabajo.label_tag }} {{ form.no_trabajo }}
    </div>
    <div class="col-md-6 mb-3">
      {{ form.contacto.label_tag }} {{ form.contacto }}
    </div>
    <div class="col-md-6 mb-3">
      {{ form.telefono.label_tag }} {{ form.telefono }}
    </div>
    <div class="col-md-6 mb-3">
      {{ form.fecha.label_tag }} {{ form.fecha }}
    </div>
     <div class="col-md-6 mb-3">
      {{ form.factura.label_tag }} {{ form.factura }}
    </div>
    <div class="col-md-4 mb-3">
      {{ form.tipo.label_tag }} {{ form.tipo }}
    </div>
    <div class="col-md-4 mb-3">
      {{ form.entrega.label_tag }} {{ form.entrega }}
    </div>
    <div class="col-md-4 mb-3">
      {{ form.pago.label_tag }} {{ form.pago }}
    </div>
  </div>

  <!-- tablaNotas y modal igual como ya lo tienes -->
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
      <th scope="col">Total</th>
      <th scope="col">Anticipo</th>
      <th>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-plus"></i>
</button>
      </th>
    </tr>
  </thead>
  <tbody id="tablaNotas">

  </tbody>
    <tfoot>
    <tr>
      <th colspan="4" class="text-end">Total general:</th>
      <th id="sumaTotal">0</th>
    </tr>

    <tr>
      <th colspan="4" class="text-end">Anticipo:</th>
      <th><input type="text" id="totalInput" class="form-control" placeholder="Anticipo"></th>
    </tr>
    <tr>
      <th colspan="4" class="text-end">Subtotal:</th>
      <th id="ivaSubtotal" style="color: red; font-weight: bold;">0.00</th>
    </tr>

    <tr>
      <th colspan="4" class="text-end">Restan:</th>
      <th id="restanteTotal">0</th>
    </tr>
  </tfoot>
</table>

  <button type="submit" class="btn btn-success mt-3" id="guardarNotaBtn">Guardar Nota</button>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Nota</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Producto</label>
        <input type="text" class="form-control" id="productoInput">

        <label class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="cantidadInput">

        <label class="form-label">Precio</label>
        <input type="text" class="form-control" id="precioInput">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="agregarBtn">Agregar</button>
      </div>
    </div>
  </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% load static %}
<script src="{% static 'notas/js/notas.js' %}"></script>
{% endblock %}