{% extends 'base.html' %}

{% block title %}Notas{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-bdoy p-4">
                        
                        <h1><i class="bi bi-plus-lg"></i> Actualizar Nota</h1>
                        <form method="post" action="{% url 'editar_nota' nota.id %}" id="notaForm">
  {% csrf_token %}
  
  {{ form.as_p }}  
 

  <!-- tablaNotas y modal igual como ya lo tienes -->
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
      <th scope="col">Total</th>
      <th scope="col">Anticipo</th>
      <th>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-plus"></i>
</button>
      </th>
    </tr>
  </thead>
   <tbody id="tablaNotas">
    {% for p in productos %}
      <tr data-producto-id="{{ p.id }}">
        <td>{{ p.nombre }}</td>
        <td>{{ p.cantidad }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.total }}</td>
        <td><button type="button" class="btn btn-danger btn-delete">
          <i class="bi bi-trash"></i> Eliminar
        </button></td>

      </tr>
    {% endfor %}
  </tbody>
    <tfoot>
    <tr>
      <th colspan="4" class="text-end">Total general:</th>
      <th id="sumaTotal">{{ total  }}</th>
    </tr>

    <tr>
      <th colspan="4" class="text-end">Anticipo:</th>
      <th><input type="text" id="totalInput" class="form-control" placeholder="Anticipo"  value="{{  anticipo  }}"></th>
    </tr>
    <tr>
      <th colspan="4" class="text-end">Subtotal:</th>
      <th id="ivaSubtotal" style="color: red; font-weight: bold;"
      >{{ iva  }}</th>
    </tr>

    <tr>
      <th colspan="4" class="text-end">Restan:</th>
      <th id="restanteTotal">{{ restante }}</th>
    </tr>
  </tfoot>
</table>

  <button type="submit" class="btn btn-success mt-3" id="actualizarNotaBtn">Actualizar Nota</button>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Nota</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Producto</label>
        <input type="text" class="form-control" id="productoInput">

        <label class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="cantidadInput">

        <label class="form-label">Precio</label>
        <input type="text" class="form-control" id="precioInput">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="agregarBtn">Agregar</button>
      </div>
    </div>
  </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% load static %}
<script>
  const notaId = "{{ nota.id }}";  // id de la nota actual
</script>
<script src="{% static 'notas/js/notas.js' %}"></script>
<script src="{% static 'notas/js/actualizar_nota.js' %}"></script>
{% endblock %}