{% extends 'base.html' %}

{% block title %}Notas{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-success">
            <i class="bi bi-plus-lg"></i> Mis Notas 
    </h2> 
    <input type="text" class="form-control" id="buscadorCliente" placeholder="BUSCAR">
    <div class="row mt-5">
       <div class="col-10">
  <table class="table" id="tablaNotas">
  <thead>
    <tr>
      <th scope="col-2">#</th>
      <th scope="col">Nombre Del Cliente</th>
      <th scope="col">Telefono</th>
      <th scope="col">Nombre Del Trabajo</th>
      <th scope="col">Total</th>
      <th scope="col">Anticipo</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Restan</th>

       <td><a href="{% url 'guardar_nota' %}" class="btn btn-dark"><i class="bi bi-plus-lg"></i></a></td>
    </tr>
  </thead>
    <tbody>
    {% for no_trabajo, datos in grupos.items %}
   
      <tr>
        <td>{{ no_trabajo }}</td>
  <td>{{ datos.contacto }}</td>
  <td>{{ datos.telefono }}</td>

  <td>
    <ul class="list-unstyled mb-0">
      {% for producto in datos.productos %}
        <li>Producto: {{ producto.nombre }} Cantidad: ({{ producto.cantidad }}) Costo ${{ producto.precio|floatformat:2 }}</li>
      {% endfor %}
    </ul>
  </td>

<td>${{ datos.subtotal_total }}</td>
<td>${{ datos.anticipo_total }}</td>
<td>${{ datos.total_total }}</td>
<td>${{ datos.restan_total }}</td>


        <td>
  {% if datos.incluye_iva  %}
    Con Factura
  {% else %}
    Sin factura
  {% endif %}
</td>

 <td><a href="{% url 'editar_nota' datos.id  %}" class="btn btn-success"><i class="bi bi-eye-fill"></i></a></td>
<td><a href="{% url 'nota_pdf' datos.id %}" target="_blank" class="btn btn-danger"><i class="bi bi-filetype-pdf"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
        </div>
    </div>

</div>
{% load static %}
<script src="{% static 'notas/js/buscar.js' %}"></script>
{% endblock %}
