{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-success">
            <i class="bi bi-caret-right-fill"></i> Mis Clientes 
            
    </h2> 
    <a href="{% url 'clientes_pdf' %}" class="btn btn-danger" target="_blank"><i class="bi bi-file-earmark-pdf"></i></a>

    <div class="row mt-5">
       <div class="col-10">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Del Cliente</th>
      <th scope="col">RFC</th>
      <th scope="col">Telefono</th>
      <th scope="col">Domicilio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for cliente in clientes %}
    <tr>
      <th>{{ forloop.counter }}</th>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.rfc }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>{{ cliente.domicilio }}</td>
      <td><a href="{% url 'ActualizarClientes' cliente.id  %}" class="btn btn-success"><i class="bi bi-eye-fill"></i></a></td>
      <td><a href="{% url 'EliminarClientes' cliente.id  %}" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a></td>
      <td><a href="{% url 'AgregarsClientes' %}" class="btn btn-info"><i class="bi bi-plus-lg"></i></a></td>
       
    </tr>
     {% endfor %}
  </tbody>
</table>
        </div>
    </div>

</div>
{% endblock %}
